* {
	font-family: "Open Sans", sans-serif;
	color: #DDDDDD
}



body {
	background-color: #2f1955;
	background-image: url("assets/bgimage-websafe.jpeg");
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
}

.sidebar {
	height: 100%;
	width: 120px;
	position: fixed;
	z-index: 1;
	background-color: #00000066;
	border: #000000 5px;
	padding-top: 20px;
	top: 0;
}

.sidebar img {
	box-sizing: border-box;
	/* border: 1px solid white; */
	width: 120px;
}

.sidebar a.text {
	text-decoration: none;
	display: block;
	color: #FFFFFF;
	padding-left: 5px;
	width: 120px;
	box-sizing: border-box;
}

.sidebar a:hover {
	background: #CCCCCC66;
	border: invert;
}

.content{
	margin-left: 150px;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #00000011
}

.content .subtitle{
	opacity: 0.7;
	font-size: 10px;
}

.content figure {
	margin: 0px;
	display: inline-block;
	background-color: #FFFFFF33;
	margin-top: 5px;
}

.content figure figcaption{
	text-align: center;
}

.content figure img{
	height: 100px;
}

.content a{
	color: #0080FF;
}
